.indicators{
    position: absolute;
    top: 85%;
    z-index: 2;
}

.indicator-item.active{
    background-color: #2196F3 !important;
}

#search{
    /* padding : 10px */
}

.input-field{
    /* background-color: #2196F3; */
    display: block;
    /* margin-left : 25% !important; */
    width: 100% !important;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field .materialize-textarea:focus + label{
    color: #2196F3 !important;
  }
  /* label underline focus color */
  .input-field .materialize-textarea:focus {
    border-bottom: 1px solid #2196F3 !important;
    box-shadow: 0 1px 0 0 #2196F3 !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #2196F3;
  }

  /* autocomplete dropdown color */
  .dropdown-content li>a, .dropdown-content li>span {
    color: #2196F3 !important;
  }

  .card{
    width: 250px
  }
  .card-image img{
    height:150px;
  }

  @media screen and (max-width: 600px) {
    .card {
        margin: 10px auto;
    }
  }

  .red{
    background-color: #2196F3 !important;
  }

  @media screen and (min-width: 600px) {  
    .card-row{
      margin-left: 3% !important;
    }
  }

  .card-title{
    font-weight: 400 !important;
  }
